* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

h3{
  color: black;
}
.column {
    float: left;
    width: 50%;
    padding: 50px;

}
.event{
  color: white;
  align-content: center;
  background: grey;
}
.column1 {
    float: left;
    width: 50%;
    padding: 50px;
    color: grey;
} 
.art{
  align-content: left;
  padding: 50px;
}

 .bgg {
      background: #87ceeb;
      color: white;
  }
  .bgg h3 {color: #fff;}
  .bgg p {font-style: italic;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
  .navbar {
      margin-bottom: 0;
      background-color: #87ceeb;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: black!important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

    footer {
      background-color: #87ceeb ;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
    .carousel-inner img {
     
      width: 100%; /* Set width to 100% */
      margin: auto;
  }

  .carousel-caption h3 {
      color: #fff !important;

  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}


  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-ripple:active{opacity:0.5}.w3-ripple{transition:opacity 0s}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}

.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}

.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}

  .bg-1 {
      background: grey;
      color: white;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }

  .main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
}

.section, .section-image {
    background-position: 50%;
    background-size: cover;
}
.section {
    padding: 70px 0;
}

.me-caption{
  background: white;
  color: black;
}

.contact-us .contact-content {
    padding-bottom: 40px;
    padding-top: 40px;
}

h2.title {
  margin-bottom: 1rem;
}

.card-description, .description, .footer-big p {
    color: #999;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.form-group {
    margin-bottom: 17px;
    position: relative;
}

.bmd-form-group {
    position: relative;
    padding-top: 27px;
}

.form-group {
    margin-bottom: 1rem;
}

.bmd-form-group:not(.has-success):not(.has-danger) [class*=" bmd-label"].bmd-label-floating, .bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating {
    color: #aaa;
}
.bmd-form-group [class*=" bmd-label"].bmd-label-floating, .bmd-form-group [class^=bmd-label].bmd-label-floating {
    will-change: left,top,contents;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
}

.bmd-form-group .bmd-label-floating, .bmd-form-group .bmd-label-placeholder {
    top: 2.3125rem;
}
.bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
    position: absolute;
    pointer-events: none;
    transition: all .3s ease;
}
.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label {
    font-size: .875rem;
}
.bmd-form-group label {
    color: #aaa;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#9c27b0 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.form-control {
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
}

.bmd-form-group .bmd-help {
    margin-top: 0;
    font-size: .75rem;
}
.bmd-help {
    margin-top: 0;
    font-size: .75rem;
}
.bmd-help {
    position: absolute;
    display: none;
    font-size: .8rem;
    font-weight: 400;
}
.bmd-help, .text-muted {
    color: #6c757d!important;
}

.contact-us .info {
    padding-bottom: 10px;
    padding-top: 0;
}
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}