  <div class="section section-basic">
	      <div class="container">
	      	<h3 class="text-center">R  A  M  A  D  H  A  N</h3>
	      <br><br>
	      <p>Bulan suci Ramadhan merupakan kesempatan bagi setiap hamba Allah untuk lebih meningkatkan ketakwaan, dikarenakan bulan ini memiliki beberapa keutamaan atau manfaat seperti berikut ini:
	    Ramadhan Bulan Diturunkannya Al-Qur'an
	    Ramadhan merupakan syahrul Quran (bulan Al-Quran). Diturunkannya Al-Quran pada bulan Ramadhan menjadi bukti nyata atas kemuliaan dan keutamaan bulan Ramadhan. Allah Swt berfirman yang artinya : "Bulan Ramadhan adalah (bulan) yang didalamnya diturunkan Al-Quran, sebagai petunjuk bagi manusia dan penjelasan-penjelasan petunjuk tersebut dan pembeda (antara yang benar dan yang batil)." (QS. Al-Baqarah: 185).</p><br>
      <div class="row text-center"><img src="pic/r.jpg" height="250px" width="450px"><br><br><br></div>
	    </div>


      <div id="event" class="bgg">
      <div class="container">
    <br><br>
         <div class="row text-center">
       	<h2>OPEN RECRUITMENT</h2><br><br>
       	<div class="col-sm-2">
             
              </div>
       	<div class="col-sm-4">
              <img src="pic/opreg.png" width="100%" height="100%" align="right"><br><br>
              </div>
          
            <div class="col-sm-2">
             
              </div>
       	 <div class="col-sm-5" align="left">
       	<br><p>Dibuka pendaftaran sebagai pengurus baru pada kepengurusan UKI JASHTIS periode 2010-2011 dengan syarat dan ketentuan sebagai berikut :<br><br>

            1. beragama islam<br>
            2. mahasiswa amikom aktif<br>
            3. punya semangat tinggi<br>
            4. pekerja keras<br>
            5. PENGALAMAN tidak diutamakan<br>
            6. bersedia untuk ikut tes interview<br><br>
            bagi yang berminat silahkan datang dan mendaftar pada hari selasa s/d kamis tgl 29-31 desember 2009 pada pukul 9.00-15.00. di Masjid Kampus Amikom
            <br><br>
            info lebih lanjut:
            <br><br>
            <b>putra: 081227938966<br>
            putri : 081328193455</b></p>
            </div>
          </div>
        </div><br><br>
  </div><br><br>

<div class="container">
     <div class="row">
            <div class="col-sm-4">
              <h4>Mengenal Allah Hanya di Bulan Ramadhan Saja</h3><br>
              <img src="pic/qq.jpg" width="100%" height="100%"><p>
              	Bulan Ramadhan adalah bulan tarbiyah yang mendidik kita agar terbiasa melakukan berbagai amal shal...
              </p>
            </div>
    
            <div class="col-sm-4">
               <h4>Fikih Ringkas Shalat Tarawih</h3><br>
              <img src="pic/st.jpg" width="100%" height="100%"><p>
              	Tarawih adalah bentuk jamak dari tarwihah, secara bahasa artinya istirahat sekali. Dinamakan demikian...
              </p>
              </div>
            <div class="col-sm-4">
               <h4>Adzan Merupakan Syiar Agama Islam</h3><br>
                <img src="pic/ad.jpg" width="100%" height="100%"><p>
              	Alhamdulillah di negeri kita tercinta Indonesia, syiar Islam sangat tampak secara umum. Perlu kita perh...
              </p>
            </div>
          </div>
</div>

<br><br><br><br>
<div class="row text-center">
<h2>S A R A N</h2><br>
            <div class="col-sm-4"><br><br><br>
              Contact :<br><br>
              <button style="font-size:15px">Facebook <i class="fa fa-facebook-official"></i></button>
              <button style="font-size:15px">Google +  <i class="fa fa-google-plus-official"></i></button>
              <button style="font-size:15px">Twitter  <i class="fa fa-twitter-square"></i></button>
            </div>
           
            <div class="col-sm-7" style="padding-right: 10px;">
               <body ng-app="myNoteApp" ng-controller="myNoteCtrl">
                  <h5 align="text-center"><i>Berikan Kritik dan Saran untuk kemajuan kami kedepannya</i></h5>
                  <textarea ng-model="message" style="width: 100%; height: 45vh;"></textarea>
                  <p align="right">Number of characters left: <span ng-bind="left()"></span></p>
                  <p align="right">
                  <button ng-click="save()">Send</button>
                  <button ng-click="clear()">Clear</button>
                  </p>
              </body>   
            </div>
  </div>
</div>